* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;

}

nav ul{
  display: flex;
  grid-gap: 0 40px;
}

nav ul li{
  list-style: none;
}

header {
  background: #A95094;
  min-height: 100vh;
  background-image: url(./group.png);
  background-repeat: no-repeat;
  background-position-x: 100px;
}
.header__top{
  display: flex;
  justify-content: space-between;
  min-height: 35px;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 41px;
}

h1{
  font-family: 'TT Norms';
  color: white;
  font-size: 67px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -0.015em;
  text-align: left;
  padding-top: 140px;

}


.text{
  max-width: 700px;
  margin-left: auto;
}

span{
  font-family: TT Norms;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFC464;
}

p{
  font-family: TT Norms;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
  padding-top: 25px;
  padding-bottom: 35px;
}

button {
  padding-top: 35px;
  font-family: TT Norms;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center; 

}

.b2{
  background: none;
  text-align: center; 
  width: 162px;
height: 55px;
top: 29px;
left: 1143px;
border-radius: 15px;
padding: 18px 40px;

font-family: TT Norms;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
border: 2px solid #FFC464


}

.we{
font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FFF;
font-family: TT Norms;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
text-decoration: none;
}

.ms{
  padding-right: 40px;
  text-decoration: none;
  color: white;
}

.b1{
  color: white;
  font-family: TT Norms;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  background-color:black;
  border: none;
  border-radius: 15px;
  width: 222px;
  height: 55px;
  top: 549px;
  left: 641px;
  padding: 18px 50px;
}


.b2{
padding: 18px 40px;
color: #FFC464;
font-family: TT Norms;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}

.btn{
  text-decoration: none;
}
.mss{
  text-decoration: none;
  
}


.inf{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 75px;
}

.pnk{
  display: flex;
  font-family: TT Norms;
  justify-content: space-between;
  grid-gap: 0 80px;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
flex-direction: row;
min-height: 100px;;
}



.asd h3{ 
  color: #000;
font-family: TT Norms;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
max-width: 207px;
}

.problem{
  padding-top: 75px;
}

.od{
  padding-top: 115px;
  font-family: TT Norms;
font-size: 15px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0.05em;
text-align: left;
color: #A95094;
width: 184px;
height: 15px;
  
}

.kyp{
  font-family: TT Norms;
font-size: 45px;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.015em;
text-align: left;
color: black;
}

.b12{
  font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: #96317D;
padding: 15px 29px;
stroke-width: 1px;
stroke: #A95094;
background: none;
border: 2px solid #A95094;
border-radius: 12px;
transition: all 0.8s;
}

.b12:hover{
  color: white;
  background-color: #A95094;
}

.buttons{
  display: flex;
  max-width: 620px;
  flex-wrap: wrap;
  grid-gap:20px 15px;
}

.trubl{
background-image: url(./Group\ 1319.png);
min-height: 813px;
background-repeat: no-repeat;
background-position:right 150px;
}

.vvp{
  font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: black;
display: flex;
align-items: center;
grid-gap:0 15px;
}

.stoimost{
  display: flex;
  flex-direction: column;

}

.uslugi{
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  border-bottom: 1px solid #ECECEC;

}

.uslugi .cena:nth-child(2){
  margin-left: auto;
  padding-right: 128px;
}

.uslugi .cena:nth-child(3){
  width: 200px;
  text-align: right;
}

.cena{
  font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}

.cena span{
  color: #000;
font-family: TT Norms;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.cena p{
  color: #96317D;
text-align: right;
font-family: TT Norms;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.sr{
  font-family: TT Norms;
font-size: 45px;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.015em;
text-align: left;
color: black;
text-align: center;
padding-top: 100px;
padding-bottom: 50px;
}

.pvv{
  font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: right;
color: #96317D;
padding-top: 50px;
text-align: center;
padding-bottom: 100px;
}

.vns{
  font-family: TT Norms;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #96317D;
text-align: center;
padding-top: 100px;
}

.mbk{
  font-family: TT Norms;
font-size: 45px;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.015em;
text-align: left;
color: black;
text-align: center;
padding-bottom: 50px;
}

.imm{
  font-family: TT Norms;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: black;
margin: 0;
padding: 0;
padding-bottom: 8px;
padding-top: 50px;
}

.dey{
font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: black;
padding-bottom: 25px;
}


.cho{
  font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #96317D;
padding-bottom: 20px;
}

.team{
  display: flex;
}

.komanda{
  display: flex;
  grid-gap: 30px;
}


.imya{
  padding: 8px 0px;
}

.nazad{
  font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color:black;
}

.dalee{
font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #96317D;
padding-right: 10px;
}


.strelki{
text-align: right;
display: flex;
grid-gap:40px;
text-align: right;
margin: 40px 0 0 958px;
}

.strela{
  display: flex;
  padding-left: 10px;
}

.google span{
  color: black;
}

.zvezdi{
  font-family: TT Norms;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: black;
}


.totocenoc{
font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: black;
text-align: left;
}

.google{
border: 1px;
display: flex;
grid-gap: 57px;
}

.tonkitext{
  font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: black;
}



.kartinka{
  display: flex;
}

.ocenka{

display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 50px;
background-color: #FAFAFA;
}

.nassvis{
  font-family: TT Norms;
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.015em;
text-align: center;
padding-top: 100px;
padding-bottom: 50px;

}

.uzbekk{
  font-family: TT Norms;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: black;
}

.god{
  font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: black;
padding: 0;
padding-top: 8px;
}



.samm{
  font-family: TT Norms;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
color: black;
max-width: 470px;
}

.vladimir{
flex-direction: row;
display: flex;
flex-direction: column;
}

.vlzar{
  display: flex;
  justify-content: space-between;

}

.uzbek{
  display: flex;
 
}

.uzbek-txt{
  padding-left: 30px;
}

.boltxt{
  font-family: TT Norms;
font-size: 40px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
color: black;
max-width: 329px;
padding: 0;
padding-bottom: 25px;
}

.maltxt{
  font-family: TT Norms;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: -0.05em;
text-align: left;
color: black;
max-width: 301px;
}

.maltxt span{

font-family: TT Norms;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.05em;
text-align: left;
color: #A95094;
}

.questions{
  padding-top: 100px;
  padding-bottom: 100px;
}

.samvopros{
  font-family: TT Norms;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: black;
max-width: 720px;
}

.zadatvopr{
  display: flex;
  justify-content: space-between;
  padding: 0 0px 70px;
  max-width: 720px;
}

.voprosi{
  grid-gap: 442px;
  min-width: 722px;
}

.flex-cc {
  display: flex;
  justify-content: space-between;
  
}

.bolhsoitxt{
  font-family: TT Norms;
font-size: 40px;
font-weight: 700;
line-height: 47px;
letter-spacing: -0.015em;
text-align: left;
color: black;
}

.malentxt{
  font-family: TT Norms;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: black;

}

.malentxt span{
font-family: TT Norms;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #A95094;
}

.vizov{
 background-image: url(./фон.png);

 min-height: 360px;
 padding-top: 100px;
 background-repeat: no-repeat;
 background-size: cover;
}

.textt{
  margin-left: 84px;
  min-width: 450px;
}

.vizovmas {
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  min-height: 180px;
  align-items: center;
  justify-content: space-between;
  max-width: 1510px;
  align-items: center;
  margin-left: 51px;
  margin-right: 51px;
}

.number{
  width: 326px;
height: 69px;
flex-shrink: 0;
color: #F5F5F5 #171717;
border: 1x solid;
border-radius: 12px;
color: #171717;
font-family: TT Norms;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 20px;
margin-left: 10px;
}

.zakaz .b12 {
  display: block;
  width: 314px;
  margin-right: 87px;
  height: 69px;
}

.mesto{
  display: flex;
  justify-content: space-between;
}

.karta{
  padding-top: 100px;
}

.kratkayainf{
  font-family: TT Norms;
font-size: 40px;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.015em;
padding-top: 75px;
min-width: 346px;

}

.strelkovaya{
  font-family: TT Norms;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
color: black;

}

.grafik{
  font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
color: black;
}

.pochta{
  font-family: TT Norms;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
padding-top: 35px;
padding-bottom: 35px;

}

.mesto{
  max-width: 346px;

}

.samakarta{
  margin-right: 69px;
}


.logotip{
text-align: center;

}

.vseknopki {
display: flex;
font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
color: black;
grid-gap: 40px;

padding-top: 35px;

}

.foot{
padding-top: 100px;
justify-content: center;
}

.vseknopki p{
  color: black;
  align-items: center;
}

.strelkovaya{
  padding: 0;
  padding-top: 35px;
}


.knopkimain{
  display: flex;
  justify-content: center;
  padding-bottom: 50px; 
}

.sposoboplatimain{
 background-color: #FAFAFA;
 display: flex;
 flex-direction: row;
}

.sposob{
  font-family: TT Norms;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: black;
padding-top: 50px;
padding-left: 362px;
padding-right: 27px;

}

.as {
  display: inline-block;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  transition: all .5s;
}
.as:hover {
  background-color: #96317D;
}
.knopkisposob{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 0 15px;
  padding-top: 7px;
  width: 800px;
}

.nal{
  font-family: TT Norms;
font-size: 14px;
font-weight: 500;
line-height: 26px;
letter-spacing: -0.03em;
color: black;
padding: 0;
}

.knopkisposob .b12{
  border-color: black;
  align-items: center;
  display: block;
  padding: 19px 23px;
 align-items: center;

}

.sposoboplati{
  display: flex;
  justify-content: space-between;
}

.servis{
  text-align: right;
  font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding: 0;
color: black;
padding-left: 135px;
}

.chptut{
  text-align: left;
  font-family: TT Norms;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: right;
color: black;
padding: 0;
padding-right: 135px
}

.pravamain{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 135px;
  padding-right: 135px;
  padding-bottom: 30px;
}